body{
    background-color: #240d63;
    color:white;
    
}

.box{
    background: #8764e8;
    margin: 0%;
    opacity:0.95;
    width: 100%;

}


.box_cabecalho{
    justify-content: space-between;
    display: flex;
    height: 100px;   
    margin: 0px 15% 0px 15%;

}

.box_cabecalho-titulo{
    display: flex;
    color: #240d63;
    text-align: center;
    font-size: 45px;

}


.box_cabecalho-nav-ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.box_cabecalho-nav-ul-li{
    padding: 10px;
    color:white;
}

p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

.section{
    justify-content: space-around;
    margin: 25px;
}

table, th, td{
    border: 1px solid white;
    
}

footer{
    background-color: #8764e8;
    margin: 0%;
    opacity: 0.95;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.insta{
    width: 2%;
}